<!DOCTYPE html>
<html lang="en">

<head>
  
 <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='117679621-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>interMeet</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:700,400,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"  type='text/css'>
    {{> googleAnalytics}}


    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    <link rel="stylesheet" href="css/sidebar.css" type="text/css">
	<link rel="stylesheet" href="css/callout.css" type="text/css">
    <link rel="stylesheet" href="css/list.css" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="overlay"></div>

        
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="sidebar-header header-cover" style="background-image:url(image/orange-background.jpg);background-repeat:no-repeat;
background-size:contain; padding-top: 0">
                  <div style="padding: 0px 15px 0px 30px; margin-top: 0;">
                    <div style="height: 25px"></div>
                    <h2 style="color: white !important; margin-top: 0;"><b>
                      interMeet</b>
                    </h2>
                    <br>
                    <p style="font-size: 18px !important;" onclick="nameClick();">
                      <b>{{thisSession.firstname}} {{thisSession.lastname}}</b>
                    <br>
                      Meeting {{thisSession.code}}
                    </p>
                  </div>
                </div>
              	
                <li>
                    <a href="/home">Pollings</a>
                </li>
                {{#unless thisSession.join}}
                <li>
                    <a href="/newpolling"  onclick="createPollingSidebar();">Create polling</a>
                </li>
                {{/unless}}
                <li>
                    <a data-toggle="modal" href="#modalParticipants" onclick="participantsClick();">Participants</a>
                </li>
                <li>
                    <a data-toggle="modal" href="#modalAbout">About</a>
                </li>
                
				<li>
					<a href="#" id="leave-meeting">Exit</a>
				</li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <nav class="navbar navbar-inverse" id="fixtop">
                <div class="navbar-header">
                    <a class="navbar-brand">Pollings</a>
                    <div class="btn-group pull-right">
                <a class="pull-right participants-button" data-toggle="modal" href="#modalParticipants"><i class="material-icons" style="font-size: 48px; color: #ffffff;" >supervisor_account</i></button>
                
                <ul class="dropdown-menu scrollable-menu" role="menu">
                    {{#each user}}
                    <li><a href="#">{{this.firstname}} {{this.lastname}}</a></li>
                    {{/each}} 

                </ul>
                
            </div>
                </div>
                
            </nav>
            
            <div class="wrapper items-wrapper">
                <div class="container card-container">
            <!--  {{#if thisSession.roomError}}
                        <p>Please leave current meeting {{thisSession.code}} first before entering another room by clicking Leave Room on the sidebar</p>
                 
                {{/if}} -->
                    {{#unless thisSession.join}}
                    <div class="row container text-center">
                        <a href="/newPolling" class="btn btn-reverse page-scroll" onclick="createPollingBottom();">Create new polling</a>
                    </div>
                    {{/unless}}
                    {{#each polling}}
                    {{#unless this.deleted}}
                    <div class="card card-polling bs-callout {{#if active}}bs-callout-success{{else}}bs-callout-danger{{/if}}" id="polling{{id}}" onclick="pollingCardClick();">

                        <a id="pollingLink{{id}}" href="/pollingVote/{{id}}">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="card-header">{{title}}</h3>
                                    </div>
                                </div>
								<div class="row">
									<div class="col-xs-3">
                                     	<h4 class="card-title">{{date}}</h4>
										<p class="card-text">{{description}}</p>
									</div>
									<div class="col-xs-9">
									<div class="btn-group btn-group-sm pull-right">
										<a id="pollingLink{{id}}" href="/pollingVote/{{id}}"><button type="button" class="btn btn-default btn-polling-result" onclick="pollingButtonClick();">
											{{#if noVoting}}Result
											{{else}}Vote{{/if}}
											</button></a>
									    {{#unless ../../thisSession.join}}
                                        <a data-toggle="modal" href="#modalDelete{{id}}"><button type="button" class="btn btn-default btn-polling-delete"><span class="glyphicon glyphicon-trash"></span></button></a>
                                        {{/unless}}
									</div>
									</div>
								</div>
                            </div>
                        </a>
                        <br>
                        <div class="progress">
  <div class="progress-bar progress-bar-striped {{#if active}}active{{/if}}" role="progressbar" aria-valuenow="{{this.progress}}%" aria-valuemin="0" aria-valuemax="100" style="width: {{this.progress}}%; min-width: 1.8em;">
    <span class="sr-only">{{this.progress}}% Complete</span>
    {{this.numParticipant}}/{{this.numPeople}}
  </div>

</div>



                        
                
                    </div>
                    
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>
        <!-- /.modal -->

         {{> modal}}

    </div>

    <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script src="js/sidebar.js"></script>
</body>

</html>