<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>interMeet</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:700,400,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"  type='text/css'>
    {{> googleAnalytics}}


    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/creative.css" type="text/css">
    <link rel="stylesheet" href="../css/sidebar.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="overlay"></div>

        {{> sidebar}}
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <nav class="navbar navbar-default" id="fixtop">
                <div class="navbar-header">
                    <a class="navbar-brand">Polling result</a>
                     <div class="pull-right" style="padding-top: 3px; width: 48px; height: 48px">
                  <a href="/home" class="" style=" z-index: 5; position: absolute"><div><i class="material-icons" style="font-size: 48px; color: #ffffff;" >home</i></div></a>
                  </div>
                </div>
            </nav>
            <div class="wrapper items-wrapper">
              <br>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#chart1" id="tab1" aria-controls="chart1" role="tab" data-toggle="tab">Bar chart</a></li>
                <li role="presentation" class=""><a href="#chart2" id="tab2" aria-controls="chart2" role="tab" data-toggle="tab">Pie chart</a></li>
                <li role="presentation" class=""><a href="#chart3" id="tab3" aria-controls="chart3" role="tab" data-toggle="tab">Radar chart</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="chart1">
                  <br>
                  <div class="container">
                    <canvas id="myChart" height="300"></canvas>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="chart2">
                  <br>
                  <canvas id="myChart2" height="300"></canvas>
                </div>
                <div role="tabpanel" class="tab-pane" id="chart3">
                  <br>
                  <canvas id="myChart3" height="300"></canvas>
                </div>
              </div>
              {{#if thisPolling.active}}
              {{#unless thisSession.join}}
              <div class="container text-center">
                <button type="button" id="polling-stop{{thisPolling.id}}" class="btn btn-reverse btn-stop-polling">
                  <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop polling
                </button>
              </div>
              {{/unless}}
              {{/if}}
            </div>
        </div>
        <!-- /.modal -->

         {{> modal}}

    </div>

    <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->


    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/jquery.fittext.js"></script>
    <script src="../js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/creative.js"></script>
    <script src="../js/sidebar.js"></script>
    <script src="../js/chart/Chart.js"></script>
    <script type="text/javascript">
      function initiate() {
        
          var data = {
            labels: [],
            datasets: [
              {
                label: "My First dataset",
                fillColor: "rgba(239, 141, 80, 0.5)",
                strokeColor: "rgba(239, 141, 80, 0.8)",
                highlightFill: "rgba(239, 141, 80, 0.75)",
                highlightStroke: "rgba(239, 141, 80, 1)",
                data: []
              }
            ]
          };
          var choice;
          {{#each thisPolling.choice}}
            data['labels'].push('{{this}}');
          {{/each}}
          {{#each thisPolling.result}}
            data['datasets'][0]['data'].push({{this}});
          {{/each}}
          console.log(data['datasets'][0]['data']);
          var ctx = document.getElementById("myChart").getContext("2d");
          var myBarChart = new Chart(ctx).Bar(data, {responsive: true, scaleFontColor: "#111111", scaleLineColor: "#111111", scaleFontSize: 20, scaleFontFamily: "Hind"});/*
          myBarChart.datasets[0].bars[0].fillColor = "green"; //bar 1
          myBarChart.datasets[0].bars[1].fillColor = "orange"; //bar 2
          myBarChart.datasets[0].bars[2].fillColor = "red"; //bar 3
          myBarChart.datasets[0].bars[3].fillColor = "blue"; //bar 4
          myBarChart.datasets[0].bars[4].fillColor = "white"; //bar 5
          myBarChart.update();*/
        
		$('#tab1').on('shown.bs.tab', function (e) {
              var data = {
            labels: [],
            datasets: [
              {
                label: "My First dataset",
                fillColor: "rgba(239, 141, 80, 0.5)",
                strokeColor: "rgba(239, 141, 80, 0.8)",
                highlightFill: "rgba(239, 141, 80, 0.75)",
                highlightStroke: "rgba(239, 141, 80, 1)",
                data: []
              }
            ]
          };
          var choice;
          {{#each thisPolling.choice}}
            data['labels'].push('{{this}}');
          {{/each}}
          {{#each thisPolling.result}}
            data['datasets'][0]['data'].push({{this}});
          {{/each}}
          console.log(data['datasets'][0]['data']);
          var ctx = document.getElementById("myChart").getContext("2d");
          var myBarChart = new Chart(ctx).Bar(data, {responsive: true, scaleFontColor: "#111111", scaleLineColor: "#111111", scaleFontSize: 20, scaleFontFamily: "Hind"});/*
          myBarChart.datasets[0].bars[0].fillColor = "green"; //bar 1
          myBarChart.datasets[0].bars[1].fillColor = "orange"; //bar 2
          myBarChart.datasets[0].bars[2].fillColor = "red"; //bar 3
          myBarChart.datasets[0].bars[3].fillColor = "blue"; //bar 4
          myBarChart.datasets[0].bars[4].fillColor = "white"; //bar 5
          myBarChart.update();*/
        });
          $('#tab2').on('shown.bs.tab', function (e) {
            var colors = ['#F7464A','#46BFBD','#FDB45C','#4bd5ff','#ffaf1e'];
            var highlightColors = ['#FF5A5E', '#5AD3D1', '#FFC870', '#7ce0ff', '#fdbd47']
            var dataPie = [];
            var i=0;
            {{#each thisPolling.choice}}
              dataPie.push({
                value: 0,
                color: colors[i],
                hightlight: highlightColors[i],
                label: '{{this}}',
              });
              i++;
            {{/each}}
            i = 0;
            {{#each thisPolling.result}}
              dataPie[i]['value'] = {{this}};
              i++;
            {{/each}}
            console.log(dataPie);
            var ctx2 = document.getElementById("myChart2").getContext("2d");
            var myDoughnutChart = new Chart(ctx2).Doughnut(dataPie, {responsive: true, scaleFontColor: "#111111", scaleLineColor: "#111111", scaleFontSize: 20, scaleFontFamily: "Hind"});
        });
        $('#tab3').on('shown.bs.tab', function (e) {
          var dataPoint = {
            labels: [],
            datasets: [
              {
                label: "My First dataset",
                fillColor: "rgba(239, 141, 80, 0.5)",
                strokeColor: "rgba(239, 141, 80, 0.8)",
                pointColor: "rgb(239,141,80)",
                pointStrokeColor: "rgb(239,141,80)",
                pointHighlightFill: "rgba(239, 141, 80, 0.75)",
                pointHighlightStroke: "rgba(239, 141, 80, 1)",
                data: []
              }
            ]
          };
          var choice;
          {{#each thisPolling.choice}}
            dataPoint['labels'].push('{{this}}');
          {{/each}}
          {{#each thisPolling.result}}
            dataPoint['datasets'][0]['data'].push({{this}});
          {{/each}}
          console.log(dataPoint['datasets'][0]['data']);
          var ctx = document.getElementById("myChart3").getContext("2d");
          var myBarChart = new Chart(ctx).Radar(dataPoint, {responsive: true, scaleFontColor: "#111111", scaleLineColor: "#111111", scaleFontSize: 20, scaleFontFamily: "Hind"});/*
          myBarChart.datasets[0].bars[0].fillColor = "green"; //bar 1
          myBarChart.datasets[0].bars[1].fillColor = "orange"; //bar 2
          myBarChart.datasets[0].bars[2].fillColor = "red"; //bar 3
          myBarChart.datasets[0].bars[3].fillColor = "blue"; //bar 4
          myBarChart.datasets[0].bars[4].fillColor = "white"; //bar 5
          myBarChart.update();*/
        });
      }
      
      window.onload = initiate;
      
    </script>
</body>

</html>